*{
    margin: 0;
}

a{
    text-decoration: none;
}

.conteiner{
    max-width: 1190px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px auto;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #4e3427;
    z-index: 2;
}
.header-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header-logo {
    position: relative;
    z-index: 3;
}
.header-logo img{
    width: 100%;
}
.header-burger {
    display: none;
}
.header-list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header-list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.header-link {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

@media (max-width: 930px){
    body.lock{
        overflow: hidden;
    }
    .header-body {
        height: 60px;
    }
    .header-logo{
        flex: 0 0 130px;
        margin-left: 10px;
    }
    .header-burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        margin-right: 10px;
    }
    .header-burger span{
        position: absolute;
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header-burger:before,
    .header-burger:after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header-burger:before{
        top: 0;
    }
    .header-burger:after{
        bottom: 0;
    }
    .header-burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-burger.active span{
        transform: scale(0);
    }

    .header-menu{
        position: fixed;
        top: -110%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 70px 10px 20px 10px;
        background-color: #856b49;
        transition: all 0.4s ease 0s;
    }
    .header-menu.active{
        top: 0;
    }
    .header-list {
        display: block;
    }
    .header-list li{
        margin: 0px 0px 20px 0px;
    }
}

.home-page{
    background: url(img/mountain2.jpg) no-repeat center/cover;
    width: 100%;
    height: 900px;
    position: relative;
    /* z-index: -1; */
    text-align: center;
}
.home-page-text{
    padding-top: 370px;
    max-width: 550px;
    margin: auto;
}
.home-page-text p{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
}
.home-page .p1{
    font-size: 30px;
}
.home-page .p2{
    font-size: 40px;
}
.home-page .p3{
    font-size: 15px;
}
.home-page-button{
    width: 140px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(198, 143, 61);
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 3px rgb(138, 89, 16);
    margin-top: 30px;
} 
/* .home-page button:hover{
    background-color: rgb(230, 177, 98);
    box-shadow: 0 3px rgb(183, 125, 38);
    color: white;
} */
    

.what-about{
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.what-about-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
}
.what-about-conteiner .p1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px; 
    color:rgb(48, 48, 48); 
}
.what-about-conteiner .p2{
    margin-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;  
    color:rgb(84, 84, 84);
}
.what-about-conteiner .block{
    height: 170px;
    width: 260px;
}
.what-about-conteiner .block:hover{
    color: #ff0000;
}


.three-page{
    background-color:beige;
    padding-top: 40px;
    position: relative;
    z-index: -2;
    text-align: center;
}
.three-page .p1{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color:rgb(48, 48, 48);
}
.three-page .p2{
    color:rgb(84, 84, 84);
    max-width: 500px;
    margin: auto;
}
.three-page-img{
    height: 400px;
    position: relative;
}
.three-page .img-left{
    position: absolute;
    z-index: -1;
    bottom: -60px;
    border-radius: 10px;
    left: 10%;
}
.three-page .img-centr{
    position: absolute;
    bottom: -1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    left: 25%;
}
.three-page .img-right{
    position: absolute;
    z-index: -1;
    bottom: -40px;
    border-radius: 10px;
    left: 40%;
}

@media (max-width: 1030px){
    .three-page-img .img-left,.img-right{
        display: none;
    }
    .three-page-img{
        padding-top: 40px;
        max-width: 600px;
        height: auto;
        margin: 0 auto;
        bottom: -4px;
    }
    .three-page-img .img-centr{
        position: relative;
        left: 0;
    }
    .three-page-img  img{
        width: 100%;
        height: 100%;
    }
}

.wordpress-theme{
    background-image: linear-gradient(-110deg, #4e3427,  #211b19);
    position: relative;
    padding-bottom: 30px;
}
.wordpress-theme-block{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.wordpress-theme .p1{
    padding-top: 40px;
    margin-bottom: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    color: aliceblue;
}
.heading_transform{
    color:#b08070;
}
.wordpress-theme .p2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18;
    color: rgb(69, 58, 47);
}
.wordpress-theme button{
    margin-top: 40px;
    width: 140px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(120, 93, 54);
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 3px rgb(81, 61, 34);
}


.big-page{
    background-color: #d6cabb;
    text-align: center;
}
.big-page-text{
    text-align: center;
}
.big-page-text .p1{
    padding-top: 60px;
    font-size: 35px;
}
.big-page-text .p2{
    font-size: 18px ;
    padding-top: 14px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 25px;
    line-height: 25px;
}

.big-page-more-button{
    text-align: center;
    padding-bottom: 50px;
}
.big-page-more-button button{
    border: 1px solid rgb(151, 151, 151);
    background-color: white;
    color: rgb(120, 120, 120);
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    margin-right: 5px;
}

.big-page-more-blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.big-page-more-blocks .block{
    height: 350px;
    width: 360px;
    margin-bottom: 55px;
    background-color:#fbfaf8;
}
/* .big-page-more-blocks .block:hover{
    height: 350px;
    width: 360px;
    background-color: #362f2d;
} */
.big-page-more-blocks  img{
    width: 100%;
}
.big-page-more-blocks .p1{
    margin-top:  20px;
    margin-left: 35px;
    font-size: 25px;
    color: #c7b299;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.big-page-more-blocks .p2{
    margin-top:  5px;
    margin-left: 35px;
    font-size: 18px;
    color: #d1d1d1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .BIG-PAGE .more-blocks .p1:hover{
    color: #ffffff;
}
.BIG-PAGE .more-blocks .p2:hover{
    color: #706358;
} */
.more-blocks:hover{
    color: #ffffff;
}
.big-page .button{
    width: 140px;
    height: 45px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #998675;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 3px #736357;
    color:#ffffff;
}

.vidos-1 {
    height: 700px;
    background: url(img/video-1.png) no-repeat center/cover;
}
.vidos-1-text{
    text-align: center;
}
.vidos-1-text .p1{
    padding-top: 300px;
    font-size: 40px;
    color: white;
    padding-bottom: 15px;
}
.vidos-1-text .p2{
    max-width: 500px;
    margin: auto;
    font-size: 20px;
    color: white;
    padding-bottom: 25px;
    line-height: 25px;
}
.vidos-1-text .p3{
    font-size: 14px;
    color: #968f87;
}


.phone-in-the-hand{
    background-color: #fbfaf8;
    position: relative;
}
.phone-in-the-hand-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.phone-in-the-hand-phone{
    max-width: 400px;
    bottom: 0;
}
.phone-in-the-hand-phone img{
    width: 100%;
    height: 100%;
}
.phone-in-the-hand .block-1{ 
    margin-top:100px;
}
.phone-in-the-hand .block-1 .p1{
    font-size: 35px;
    color: #555555;
    padding-bottom: 40px;
}
.phone-in-the-hand .block-2{
    max-width: 600px;
    margin: auto;
}
.phone-in-the-hand .block-2 .p2{
    font-size: 20px;
    color: #555555;
    padding-bottom: 30px;
}
.phone-in-the-hand-bloki li{
    font-size: 20px;
    color: #555555;
    padding-bottom: 10px;
    margin-left: 20px;
    list-style-image: url(img/search.png);
}



.line-with-facts{
    background-image: linear-gradient(-110deg, #4e3427,  #211b19);
    text-align: center;
}
.line-with-facts-block{
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px;
}
.line-with-facts-block div{
    width: 150px;
}
.line-with-facts .p1{
    font-size: 50px;
    color: #ffffff;
}
.line-with-facts .p2{
    color: #c7b299;
    font-size: 15px;
}


.small-page{
    padding-bottom: 100px;
}
.small-page-text{
    text-align: center;
}
.small-page-text .p1{
    padding-top: 60px;
    font-size: 35px;
}
.small-page-text .p2{
    font-size: 18px ;
    padding-top: 14px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 25px;
    line-height: 25px;
}

.small-page-more-blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.small-page-more-blocks .block{
    height: 400px;
    width: 360px;
    background-color:#fbfaf8;
}
.small-page-more-blocks  img{
    width: 100%;
}
.small-page-more-blocks .p1{
    margin-top:  20px;
    margin-left: 35px;
    font-size: 25px;
    color: #777777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.small-page-more-blocks .p2{
    margin-top:  8px;
    margin-left: 35px;
    font-size: 14px;
    color: #777777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.small-page-more-blocks .p3{
    margin-top:  20px;
    margin-left: 35px;
    font-size: 18px;
    color: #c7b299;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.scroll-img{
    min-height: 486px;
    background: url(img/rocks_1.jpg) no-repeat center/cover;
}
.scroll-img-scrol{

    padding-top: 140px;
}
.scroll-img-block{
    height: 200px;
    width: 200px;
    margin: 0 auto;
}


.footer{
    background-color: #191919;
}
.footer-contact-block{
    max-width: 1175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    padding: 100px;
}
.footer-contact-block > div{
    height: 300px;
    width: 260px;
}
.footer-contact-info hr{
    margin: 10px;
    border-color: #252525;
}
.footer-contact-info-text{
    color: #555555;
    font-size: 18px;
    margin-top: 30px;
    line-height: 20px;
}
.footer-contact-info-title{
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer-contact-info-name-page{
    color: #696969;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-contact-info-date{
    color: #3b3a3a;
    font-size: 14px;
}
.footer-contact-info-information{
    color: #575757;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.end-line{
    background-color: #111111;
}
.end-line-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.end-line-privacy-policy{
    padding-top: 25px;
    color: #555555;
}
.end-line ul{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
}
.end-line li{
    padding: 5px;
    list-style-type: none;
}
.end-line img{
    height: 30px;
}
.end-line-privacy-policy a{
    text-decoration: none;
    color: #3b3a3a ;
}


